$website-width: 1280px;

$primary: #0f4bb9;
$dark: #202122;
$gray: #666;
$white: #fff;
$bg-light: #fafafa;
$bg-dark: #291e3b;
$danger: #dc3545;
$warning: #ffbf00;
$success: #34c759;

$font-family: 'Poppins', sans-serif;
